.heroContainer {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
}

.heroContainer::after,
.heroContainer::before {
    content: "";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: var(--hero-bg);
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.heroContainer::after {
    top: -3rem;
    left: -5rem;
}

.heroContainer::before {
    bottom: 2rem;
    right: 0rem;
}

.heroContent {
    flex: 1;
}

.heroContent h2 {
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 4.5rem;
}

.heroContent h4 {
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.heroContent .typewriter {
    color: #a38eff;
}

.heroContent p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.heroImg {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0 0;
}

.heroImg>div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.heroImg>div>img {
    width: 20rem;
    border-radius: 50%;
    /* border-radius: 3rem; */
    transition: all 0.3s ease;
    object-fit: cover;
}

.techIcon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
}

.techIcon img {
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

.heroImg>div>img:hover,
.techIcon img:hover {
    transform: translateY(-0.5rem);
}

.gitProfileBtn {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 20px 0 0;
}

.gitProfileBtn:hover {
    background: #000;
    color: #a993fe;
    border: 1px solid #854ce6;
    outline: 1px solid #a993fe;
}

.gitProfileBtn img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.gitProfileBtn h3 {
    font-weight: 400;
    font-size: 18px;
}

@media(max-width:1289px) {
    .heroContent h4 {
        font-size: 2.2rem;
    }
}

@media(max-width:1025px) {
    .heroContent h2 {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .heroContent h4 {
        font-size: 22px;
    }

    .heroContent p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .techIcon {
        width: 4rem;
        height: 4rem;
    }

    .techIcon img {
        width: 2.5rem;
        height: 2.5rem;
    }
    
}

@media(max-width: 768px) {
    .heroContainer {
        flex-direction: column;
    }

    .heroImg {
        margin: 2rem 0;
    }

    .heroContainer h2 {
        margin-top: 3rem;
    }

    .heroContent {
        text-align: center;
    }

    .heroContent h2 {
        width: auto;
    }

    .heroContent h4 {
        justify-content: center;
        font-size: 24px;
        gap: 7px;
    }

    .heroContainer::after,
    .heroContainer::before {
        content: "";
        width: 18rem;
        height: 18rem;
    }

    .heroContainer::after {
        top: 0;
        left: 0;
    }

    .heroContainer::before {
        bottom: 2rem;
        right: 0;
    }

    .heroContent p {
        width: 100%;
    }

    .gitProfileBtn {
        width: 160px;
        margin: 20px auto 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .gitProfileBtn h3 {
        font-size: 14px;
    }
}

@media(max-width:660px) {
    .heroContent h2 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .heroContent p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .heroImg {
        gap: 1rem;
    }

    .heroImg>div {
        gap: 1rem;
    }

    .heroImg>div>img {
        width: 18rem;
    }

    .techIcon {
        width: 3.3rem;
        height: 3.3rem;
    }

    .techIcon img {
        width: 2rem;
        height: 2rem;
    }
}

@media(max-width : 367.98px){
    .heroImg>div>img {
        width: 14rem;
    }
}