.skillsCard {
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 2.5rem;
    text-align: center;
    background: rgba(22, 17, 47, 0.398);
    backdrop-filter: blurr(1rem);
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
}

.skillsCard:hover,
.skillsCard.active {
    background: linear-gradient(180deg, #aa94fe 0%, #7c5fe6 100%);
}

.skillsCard span {
    font-size: 1.3rem;
    font-weight: 500;
}

.skillIcon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    background: #2a2252;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.skillIcon img{
    width: 2.4rem;
    height: auto;
    object-fit: contain;
}

@media(max-width : 1025px){
    .skillsCard{
        padding: 1.5rem;
    }

    .skillsCard span{
        font-size: 1rem;
    }

    .skillIcon{
        width: 3rem;
        height: 3rem;
    }

    .skillIcon img{
        width: 1.8re;
    }
}

@media(max-width : 7689px){
    .skillsCard span{
        font-size: 0.9rem;
    }
}