.contactDetailsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--contact-bg);
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.contactDetailsCard .icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: #3d3072;
    margin-bottom: 0.8rem;
}

.icon img{
    width: 2.5rem;
    height: auto;
    object-fit: contain;
}

.contactDetailsCard a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
    text-decoration: none;
}

.contactDetailsCard a:hover{
text-decoration: underline;
}