.workExperienceCard {
    background: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    margin: 0 1rem;
}

.workExperienceCard h6 {
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.workDuration {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    background: rgba(103, 81, 185, .5);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
}

.workExperienceCard ul {
    padding-left: 40px;
}

.workExperienceCard ul li {
    list-style: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}

.workExperienceCard ul li::after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: #6751b9;
    border-radius: 0.5rem;
    position: absolute;
    top: 0.35rem;
    left: -1.3rem;
}

@media(max-width : 768px){
    .workExperienceCard{
        margin: 0;
    }

    .workExperienceCard h6{
        font-size: 0.95rem;
    }

    .workExperienceCard ul li{
        font-size: 0.75rem;
    }
}