.contactContainer{
    margin: 2rem 0 4rem;
    position: relative;
}

.contactContainer h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3.5rem 0 2rem;
}

.contactContent{
    display: flex;
    gap: 3rem;
}

@media(max-width : 768px){
    .contactContent{
        flex-direction: column-reverse;
    }
    .contactContainer h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}